.hotel {
  text-transform: uppercase;
}

.hotel__slogan {
  font-weight: $bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel__text {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: $text-almost-black;
}

.hotel__link {
}
