.main {
}

.main__advantages {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.main__hotel {
  margin-bottom: 50px;

  @media (min-width: $tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 65px;
  }
}

.main__map {
}

.main__title {
  margin: 0;

  font-weight: $bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.main__photo {
}

.main__presentation {
}

.main__form {
}
