.main {
}

.main__advantages {
}

.main__hotel {
}

.main__map {
}

.main__title {
  margin: 0;

  font-weight: $bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.main__photo {
}

.main__presentation {
}
