.navigation {
}

.navigation__list {
  @include list-reset;
}

.navigation__link {
  font-weight: $bold;
  font-size: 18px;
  line-height: 40px;
  color: $text-white;
  text-transform: uppercase;

  background-color: $background-blue;
}

.navigation__open {
  @include button-reset;
}

.navigation__close {
  @include button-reset;
}
