@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/pt-sans-regular.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/pt-sans-700.woff2") format("woff2");
}
