$regular: 400;
$bold: 700;

$text-white: #ffffff;
$text-almost-black: #333333;
$text-black: #000000;

$background-white: #ffffff;
$background-almost-ivory: #eeeeee;
$background-blue: #81b3d2;
$background-black: #000000;

$transition-duration: 200ms;
$transition-function: linear;

$mobile-only: 767px;
$tablet: 768px;
$desktop: 1280px;
