.footer {
  @include mobile-paddings;

  padding-top: 36px;
  padding-bottom: 25px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 60px;
  }

  @media (min-width: $desktop) {
    padding: 35px 120px;
  }
}

.footer__hashtag {
  display: block;
  margin-bottom: 36px;

  font-weight: $bold;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet) {
    margin-top: -6px;
    margin-bottom: 0;
  }
}

.footer__socials {
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;

  font-size: 14px;
  line-height: 26px;
  color: #000000;

  @media (min-width: $tablet) {
    margin: 0;
    margin-top: -6px;
  }
}

.footer__copyright-image {
  margin-left: 10px;

  color: #000000;

  transition-property: color, opacity;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-function;

  &:hover,
  &:focus {
    color: #81b3d2;
  }

  &:active {
    color: #000000;
    opacity: 0.3;
  }
}
